
*{
    font-family:cursive ;
}
header{
    height: 400px;
    position: relative;
    background-image: url(./images/design1_image1.jpg);
    background-size: cover;
    background-position: center;
}
h1 {
    text-align: left;
}
.logo{
    width: 120px;
    position: absolute;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    top: 320px;
    left: 75%;
    z-index: 1;
}
header h2 {
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    top: 300px;
}
nav{
    position: absolute;
    left: 30px;
    top: 430px;
}
article{
    position: absolute;
    width: 90%;
    left: 20%;
    top: 450px;
}
.sangria{
    text-indent: 25px;
}